@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100px;
    font-family: "roboto",  sans-serif;
    background-color: black;
}
.initial-banner {
    width: 100%;
    height: 580px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.initial-banner video {
    position: fixed;
    overflow: hidden;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: opacity(0.3);
}
.initial-banner .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto ;
    text-align: center;
  }
.initial-banner .content h1 {
    margin: 8px;
    padding: 0;
    font-size: calc(1rem + 3vw);
    color: #ffff;
}
.initial-banner img{
    margin-top: 80px;
    min-width: 150px;
    max-width: 170px;
}
.destaque{
    color: blueviolet;
}
.initial-banner button{
    color: white;
    background-color: blueviolet;
    padding: 8px 16px;
    font-size: 1.5em;
    margin-top: 8px;
    border: 1px solid white;
    animation: botao;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.why {
    width: 100%;
    height: fit-content;
    padding: 8px 0 24px 0;
    background-color: whitesmoke;
    justify-content: center;
    justify-items: center;
    position: relative;
}
.welcome img{
    width: 30vw;
}
.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    justify-items:center;
    justify-content: space-around;
}

.card {
    background-color: #f8f8f8;
    border-radius: 8px;
    min-height: 210px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (min-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.title{
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    color: blueviolet;
}
.services{
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    justify-items: center;
    padding-top: 8px;
    position: relative;
    border-top: solid 1px rgb(196, 249, 255);
}
.services h2{
    margin: 0;
}
.container-services{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.list{
    width: 100%;
    padding: 8px;
    text-align: center;
}
.block {
    margin: 0 auto;
    display: flex;
}


